@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

*{
	margin: 0px;
	background-color: #bdc3c7;
	font-family: 'Open Sans', sans-serif;
}
body{
  margin: 0;
  overflow: hidden;
}

/*************GAME STYLING***********/


	/*canvas*/
#canvas{
	overflow: hidden;
	display: block;
	background-color: #34495e;
	-o-box-shadow:    inset 0 0 5px #000000;
	-moz-box-shadow:    inset 0 0 5px #000000;
   	-webkit-box-shadow: inset 0 0 5px #000000;
   	box-shadow:         inset 0 0 5px #000000;
   	color: #3498db;
   	background-image: url(assets/background2.svg);
   	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	/*button*/
a #button{
	width: 100%;
	height:50px;
	background-color:#ecf0f1 ;
	color: #3498db ;
	font-size: 2em;
	border:none;
	text-align: center;
	-webkit-transition: background-color 0.2s; /* For Safari 3.1 to 6.0 */
	-moz-transition: background-color 0.2s; /* For mozilla */
	-o-transition: background-color 0.2s; /* For opera */
	transition: background-color 0.2s;

	-webkit-transition: box-shadow 0.2s; /* For Safari 3.1 to 6.0 */
	-moz-transition: box-shadow 0.2s; /* For mozilla */
	-o-transition: box-shadow 0.2s; /* For opera */
	transition: box-shadow 0.2s;
	cursor: pointer
}
a #button:hover{
	-o-box-shadow:    inset 0 0 10px #000000;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}


	/*Lose Menu*/
#menuLose p{	
	background-color: #c0392b;
	color: #ffffff;
	font-size: 4em;
}
#finalScore{	
	font-size: 3em;
	background-color: #e74c3c;
	padding: 10px;
	color: #ffffff;
}
#finalScore:after{
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #e74c3c transparent transparent transparent;
    top: 3.5em;
    left: 48%;
}
#menuLose{
	top: 10%;
	position:fixed;
	display:none;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #ecf0f1;
}
#menuLose a, img {
	background-color: #ecf0f1;
}

#menuLose:after{
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #c0392b transparent transparent transparent;
    top: 5.2em;
    left: 48%;
}


	/*Pause Menu*/
#menuPause p{	
	background-color: #e74c3c;
	color: #ffffff;
	font-size: 4em;
}
#menuPause p:after{
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #e74c3c transparent transparent transparent;
    top: 1.3em;
    left: 48%;
}
#menuPause a, img{
	background-color: #ecf0f1;
}
#menuPause{
	top: 10%;
	position:fixed;
	display:none;
	width: 100%;
	height: 170px;
	text-align: center;
	background-color: #ecf0f1;
	color: white;
}

#quit, #replay{
	margin: 15px 2em 0px 0px;
	cursor: pointer;
	background-color: #ecf0f1;
}

#timer{
	position: absolute;
	top: 10px;
	right: 1em;
	background-color: transparent;
	font-size: 2em;
	color: #000000;
}
#score{
	position: absolute;
	top: 10px;
	left: 1em;
	background-color: transparent;
	font-size: 2em;
	color: #000000;
}

@media (max-device-width : 768px) and (-webkit-min-device-pixel-ratio: 2){
	#menuLose p{	
		background-color: #c0392b;
		color: #ffffff;
		font-size: 2.5em;
	}
	#finalScore{	
		font-size: 1.2em;
		background-color: #e74c3c;
		padding: 10px;
		color: #ffffff;
	}
	#finalScore:after{
		content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-width: 20px;
	    border-style: solid;
	    border-color: #e74c3c transparent transparent transparent;
	    top: 5.1em;
	    left: 44%;
	}
	#menuLose:after{
		content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-width: 20px;
	    border-style: solid;
	    border-color: #c0392b transparent transparent transparent;
	    top: 3.2em;
	    left: 44%;
	}
	#quit, #replay{
		margin: 15px 2em 0px 2em;
		cursor: pointer;
		background-color: #ecf0f1;
	}
	#menuPause p{	
		background-color: #e74c3c;
		color: #ffffff;
		font-size: 2.5em;
	}
	#menuPause p:after{
		content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-width: 20px;
	    border-style: solid;
	    border-color: #e74c3c transparent transparent transparent;
	    top: 1.3em;
	    left: 45%;
	}
}