@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

*{
	margin: 0px;
	background-color: #bdc3c7;
	font-family: 'Open Sans', sans-serif;
}
body{
  margin: 0;
  overflow: hidden;
}

/*************GAME STYLING***********/
#canvas{
	overflow: hidden;
	display: block;
	border: 10px solid #2c3e50;
	background-color: #34495e;
	-o-box-shadow:    inset 0 0 10px #000000;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}
#button{
	width: 100%;
	height:50px;
	background-color: #2ecc71;
	color: #ecf0f1;
	font-size: 1.57em;
	border-top: 0px;
	border-right: 10px solid #2c3e50;
	border-left: 10px solid #2c3e50;
	border-bottom: 10px solid #2c3e50;
	-webkit-transition: background-color 0.2s; /* For Safari 3.1 to 6.0 */
	-moz-transition: background-color 0.2s; /* For mozilla */
	-o-transition: background-color 0.2s; /* For opera */
	transition: background-color 0.2s;
}
#button:hover{
	background-color: #27ae60;
  border-top: 0px;
	border-right: 10px solid #2c3e50;
	border-left: 10px solid #2c3e50;
	border-bottom: 10px solid #2c3e50;
}
#menuLose{
	position:fixed;
	display:none;
	width: 100%;
	top: 100px;
	height: 20%;
	backround-color: #3498db;
	opacity: 0.5;
	text-align: center;

}
#menuLose p{
	font-size: 5em;
}
#menuLose a{
	font-size: 2em;
	color: black;
}

#menuPause{
	position:fixed;
	display:none;
	width: 100%;
	top: 100px;
	height: 20%;
	backround-color: #3498db;
	opacity: 0.5;
	text-align: center;
}
#menuPause p{
	font-size: 5em;
}
#menuPause span{
	font-size: 2em;
	color: black;
}

#replay{
	width: 100%;
	height: 50px;
	position:fixed;
	display:none;
	top:300px;
	text-align: center;
	cursor: pointer;
	font-size: 2em;
	color: white;
}
a #replay{
	cursor: pointer;
	backround-color: #e74c3c;
}
