@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

*{
	margin: 0px;
	background-color: #bdc3c7;
	font-family: 'Open Sans', sans-serif;
}
body{
  margin: 0;
  overflow: hidden;
}

/*************GAME STYLING***********/


	/*canvas*/
#canvas{
	overflow: hidden;
	display: block;
	background-color: #34495e;
	-o-box-shadow:    inset 0 0 10px #000000;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}


	/*button*/
a #button{
	width: 100%;
	height:50px;
	background-color: #2ecc71;
	color: #ecf0f1;
	font-size: 2em;
	border:none;
	text-align: center;
	-webkit-transition: background-color 0.2s; /* For Safari 3.1 to 6.0 */
	-moz-transition: background-color 0.2s; /* For mozilla */
	-o-transition: background-color 0.2s; /* For opera */
	transition: background-color 0.2s;
	cursor: pointer
}
a #button:hover{
	background-color: #27ae60;
	-o-box-shadow:    inset 0 0 10px #000000;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}


	/*Lose Menu*/
#menuLose{
	top: 10%;
	position:fixed;
	display:none;
	width: 100%;
	height: 200px;
	opacity: 0.5;
	text-align: center;
}
#menuLose p{
	font-size: 5em;
}
#menuLose a{
	font-size: 2em;
	color: black;
}
#menuLose h2{
font-size: 2em;
}


	/*Pause Menu*/
#menuPause{
	top: 10%;
	position:fixed;
	display:none;
	width: 100%;
	height: 200px;
	opacity: 0.5;
	text-align: center;
}
#menuPause p{
	font-size: 5em;
}
#menuPause span{
	font-size: 2em;
	color: black;
}


	/*Replay Button*/
#replay{
	top: 35%;
	width: 100%;
	height: 50px;
	position:fixed;
	display:none;
	text-align: center;
	cursor: pointer;
	font-size: 2em;
	color: white;
}
a #replay{
	cursor: pointer;
	background-color: #1abc9c;
}
#quit{
	top:30%;
	width: 100%;
	height: 50px;
	position:fixed;
	display:none;
	text-align: center;
	cursor: pointer;
	font-size: 2em;
	color: white;
}
a #quit{
	cursor: pointer;
	color: white;
	background-color: #e74c3c;
}
#timer{
	position: absolute;
	top: 10px;
	left: 15px;
	background-color: #34495e;
	font-size: 2em;
	color: white;
}
#score{
	position: absolute;
	top: 10px;
	left: 25px;
	background-color: #34495e;
	font-size: 2em;
	color: white;
}
@media (max-device-width : 768px) and (-webkit-min-device-pixel-ratio: 2){
	/*Lose Menu*/
	#menuLose{
		position:fixed;
		display:none;
		width: 100%;
		top: 100px;
		height: 20%;
		opacity: 0.5;
		text-align: center;

	}
	#menuLose p{
		font-size: 3.8em;
	}
	#menuLose a{
		font-size: 2em;
		color: black;
	}


		/*Pause Menu*/
	#menuPause{
		position:fixed;
		display:none;
		width: 100%;
		top: 100px;
		height: 20%;
		opacity: 0.5;
		text-align: center;
	}
	#menuPause p{
		font-size: 3.8em;
	}
	#menuPause h2{
		font-size: 2em;
		color: black;
	}


		/*Replay Button*/
	#replay{
		width: 100%;
		height: 50px;
		position:fixed;
		display:none;
		top:350px;
		text-align: center;
		cursor: pointer;
		font-size: 2em;
		color: white;
	}
	a #replay{
		cursor: pointer;
		background-color: #e74c3c;
	}
	#quit{
		width: 100%;
		height: 50px;
		position:fixed;
		display:none;
		top:300px;
		text-align: center;
		cursor: pointer;
		font-size: 2em;
		color: white;
	}
	#quit a{
		cursor: pointer;

		color: white;
	}

}
