#gameContainer {
  height: 100vh;
  width: 100vw;
  display: none;
  font-family: 'Open Sans' sans-serif; }

#canvas {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #34495e;
  -o-box-shadow: inset 0 0 5px #000000;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000; }

.pause {
  position: fixed;
  height: 70px;
  width: 70px;
  background-color: #1abc9c;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  bottom: 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.pause:before, .pause:after {
  content: '';
  height: 50%;
  width: 15%;
  background-color: #ecf0f1;
  margin-top: 25%; }

.pause:before {
  margin-left: 25%;
  float: left; }

.pause:after {
  margin-right: 25%;
  float: right; }

.pause:hover {
  opacity: 1; }

.play {
  position: absolute;
  background-color: #f1c40f;
  margin-left: calc(50vw - 5em); }

.play:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 70px solid #ecf0f1;
  top: 1.75em;
  left: 55px; }

.lose {
  width: 3em;
  height: 3em;
  overflow: hidden;
  background-color: #1abc9c;
  position: absolute;
  top: 1.5em;
  border-radius: 5em;
  margin-left: calc(50vw - 1.5em);
  font-size: 4em;
  line-height: 3em;
  text-align: center;
  color: white;
  display: none; }

#coin {
  width: 64px;
  height: 64px;
  background-image: url(../assets/coin.svg);
  left: calc(50vw + 1.7em);
  top: 5em;
  position: absolute;
  display: none; }

#scoreNumber {
  height: 3em;
  width: 3em;
  border-radius: 50%; }

.options {
  position: fixed;
  width: 100%;
  height: auto;
  top: 18em;
  display: none; }
  .options a {
    width: 50%;
    height: auto;
    float: left; }
    .options a .replay {
      width: 60px;
      height: 60px;
      margin: auto;
      background: url(../assets/replay.svg) center;
      background-repeat: no-repeat;
      background-color: #1abc9c;
      border-radius: 32px; }
    .options a .quit {
      width: 60px;
      height: 60px;
      margin: auto;
      background: url(../assets/exit.svg) center;
      background-repeat: no-repeat;
      background-color: #1abc9c;
      border-radius: 32px; }

#timer, #score {
  position: absolute;
  top: 0px;
  font-size: 1.60em;
  color: white;
  background-color: #1abc9c;
  text-align: center;
  opacity: 0.5; }

#score {
  left: 0px;
  width: 50px;
  height: 50px;
  line-height: 200%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%; }

#timer {
  right: 0px;
  width: 50px;
  height: 50px;
  line-height: 200%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }
