@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);


* {
    font-family: inherit;
    font-style: inherit;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*********************GENERAL STYLING***************/
body{
    background-color: #34495e;
}
a{
    text-decoration: none;
    text-transform: none;
    color: white;
}

/*****************MAIN STYLING******************/
#container{
    height: auto;
    width: auto;
}
header{
    margin-top: 100px;
}
header p{
    height: 150px;
    width: 100%;
    background-color: #34495e;
    text-align: center;
    font-size: 5em;
    color: white;
}
header div{
    height: 50px;
    width: 80%;
    background-color: #2ecc71;
    border-radius: 100px;
    text-align: center;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
footer div{
    float: left;
    width: 50%;
    text-align: center;
    height: 50px;
    font-size: 2em;
}