@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/***************VARIABLES**************/
/***********MIXINS*************/
/*RESETS*/
* {
  font-family: inherit;
  font-style: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden; }

/*********************GENERAL STYLING***************/
#menuContainer {
  background-color: #3498db;
  height: 100vh;
  width: 100vw;
  position: absolute;
  -webkit-animation: slideIn 0.7s ease-in-out;
  -moz-animation: slideIn 0.7s ease-in-out;
  -o-animation: slideIn 0.7s ease-in-out;
  animation: slideIn 0.7s ease-in-out; }

a {
  text-decoration: none;
  color: white; }

header {
  height: 25vh;
  width: auto;
  position: relative;
  background: url(../assets/header.svg) center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100; }

/*
header:after{
    content:"";
    background: url(../assets/deadPlayer.svg);
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 20vh;
    position:relative;
}

header:before{
    content:"";
    background: url(../assets/highscore.svg);
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 20vh;
    position:relative;
}
*/
#play {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #f1c40f;
  margin: -webkit-calc(30vh - 100px) auto auto auto;
  margin: -moz-calc(30vh - 100px) auto auto auto;
  margin: -o-calc(30vh - 100px) auto auto auto;
  position: relative;
  cursor: pointer; }

#play:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 37px solid #ecf0f1;
  top: 23px;
  left: 37px; }

#play:hover {
  -webkit-animation: rotate 0.5s ease-in-out;
  -moz-animation: rotate 0.5s ease-in-out;
  -o-animation: rotate 0.5s ease-in-out;
  animation: rotate 0.5s ease-in-out; }

footer a {
  width: 50%;
  height: auto;
  float: left; }
footer #settings, footer #info {
  width: 64px;
  height: 64px;
  margin: -webkit-calc(25vh - 64px) auto auto auto;
  margin: -moz-calc(25vh - 64px) auto auto auto;
  margin: -o-calc(25vh - 64px) auto auto auto;
  background: url(../assets/settings.svg) center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-color: #2980b9;
  border-radius: 50%; }
footer #info {
  background: url(../assets/info.svg) center; }
footer #settings:hover, footer #info:hover, footer #info:hover {
  -webkit-animation: rotate 0.5s ease-in-out;
  -moz-animation: rotate 0.5s ease-in-out;
  -o-animation: rotate 0.5s ease-in-out;
  animation: rotate 0.5s ease-in-out; }

/*      <script>
            var highScore = Cookies.get('highScore');
            var deathNumber = Cookies.get('deathNumber');

            if (highScore == undefined || deathNumber == undefined) {
                document.getElementById("highScore").innerHTML = "0";
                document.getElementById("deadNumber").innerHTML = "0";
            }
            else {
                document.getElementById("highScore").innerHTML = Cookies.get('highScore');
                document.getElementById("deadNumber").innerHTML = Cookies.get('deathNumber');
            }
        </script>
        
*/
