@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);


* {
    font-family: inherit;
    font-style: inherit;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/*********************GENERAL STYLING***************/
body{
   width:100%; 
   height:100%; 
   background-color: #3498db;
   z-index: 1;
}
a{
    text-decoration: none;
    text-transform: none;
    color: white;
}
header{
    padding: 20px;
}
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#mainContainer{
    overflow: hidden;
    width: 100%;
}
#container{
    width: 100%;
    background-color: #ecf0f1;
    padding: 11% 0 11% 0;
    z-index: -2;
}
#play{
    width: 60%;
    height: 50px;
    background-color: #e74c3c;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 50px;
    text-align: center;
    font-size: 2em;
}
footer a{
    width: 50%;
    height: 20%;
    float: left;
}
footer img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}
#player{
    float: left;
    margin-left: -8%;
    margin-top:-5%; 
    height: 20%;
    z-index: -1;
}
#target{
    float: right;
    margin-right: -8%;
    margin-top:-5%; 
    height: 20%;
    z-index: -1;
}