@media (max-device-width : 768px) and (-webkit-min-device-pixel-ratio: 2){
	header img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	    height: auto;
	}
	#container{
	    width: 100%;
	    background-color: #ecf0f1;
	    padding: 15% 0 15% 0;
	}
	#play{
	    width: 60%;
	    height: 50px;
	    background-color: #e74c3c;
	    margin-left: auto;
	    margin-right: auto; 
	    border-radius: 50px;
	    text-align: center;
	    font-size: 2em;
	}
	footer img{
	    margin-top: 50%;
	}
	#player{
	    float: left;
	    height: 18%;
	    margin-left: -20%;
	    margin-top: -10%;
		position: relative;
		z-index: 1;
	}
	#target{
	    float: right;
	    height: 18%;
		margin-right: -20%;
		margin-top: -10%;
		position: relative;
		z-index: 1;
	}

}