@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

* {
    font-family: inherit;
    font-style: inherit;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    background-color: #34495e;
}

a{
    color: white;
}

aside {
    text-align: center;
    color: white;
    background-color: #3498db;
    padding: 15px;
    right: 1%;
    left: 1%;
    top: 1%;
    position: fixed;
    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.75);
}
aside a{
    font-size: 1.5em;
}


#content{
    height: 100vh;
    background-color: #FFFFFF;
}

#content img{
    display: block;
    margin: 40vh auto auto auto;
}

#music, #sfx{
    width: 50%;
    float: left;
    height: 100%;
    background-color: #2ecc71;
}

#musicOff, #sfxOff{
    width: 50%;
    float: left;
    height: 100%;
    background-color: #95a5a6;
}

#back{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 2em;
    background-color: #ecf0f1;
    color: #3498db;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119, 119, 119, 0.75);
}

@media (max-device-width : 768px) and (-webkit-min-device-pixel-ratio: 2){
    aside h2{
        padding: 0px;
        font-size: 1em;
    }
    aside a{
        text-decoration: underline;
        font-size: 0.9em;
    }
    #back{
        height: 50px;
        font-size: 2em;
    }
}